.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  min-width: 350px;
}

.button {
  padding: 0.7rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  color: white;
  font-size: 1.2rem;

  border-radius: 0.5rem;
  background: linear-gradient(90deg, #6e7a91, #434954);
  transition: all ease 0.3s;
}

.button:active {
  scale: 0.95;
}

input {
  background-color: #202326;
  outline: none;
  padding: 1rem;
  border: 1px solid #34373a;
  border-radius: 0.5rem;
}

.accQue{
    position: absolute;
    bottom: 2%;
}
